<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.mapper.Test2Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="common.entity.Test2Entity">
        <id column="id" property="id" />
        <result column="tid" property="tid" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tid, age, sex
    </sql>

</mapper>
